html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.grey-button {
	border-color: #777777;
}

.grey-button:hover {
	background-color: #777777;
}

.yellow-button {
	background-color: #e5e500;
}

.yellow-button:hover {
	background-color: #ffff00;
}

.black-button{
	background-color: #000000;
}

.black-button:hover{
	background-color: #111111;
}

.red-button {
	background-color: #e50000;
}

.red-button:hover {
	background-color: #ff0000;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
